<div id="mainbody">
  
  <div *ngIf="routerComptName == 'RouterIndexComponent'" class="info">

    <index-banner></index-banner>

    <my-info-card></my-info-card>

  </div>
  <!--info end-->
  <div class="blank"></div>
  
  <div class="blogs clear">
  
    <index-article-list 
      *ngIf="routerComptName == 'RouterIndexComponent' || routerComptName =='RouterCategoryComponent'" 
      [currentCategory]="currentCategory">
      Article is loading...
    </index-article-list>
    
    <blog-details *ngIf="routerComptName == 'RouterBlogDetailComponent'"> Blog is loading ... </blog-details>

    
    <aside>
      <submenu-panel 
        *ngIf="routerComptName == 'RouterBlogDetailComponent' || routerComptName =='RouterCategoryComponent'" [currentCategory]="currentCategory">
         submenu is loading ... 
      </submenu-panel>

      <nominate-article-panel>推荐文章加载中...</nominate-article-panel>

      <topic-article-panel> topic article loading ...</topic-article-panel>
      
      <hot-article-panel> hot article loading ...</hot-article-panel>

      <search-panel>search panel is loading...</search-panel>

      <music-panel>music is loading ...</music-panel>

    </aside>
  </div>
  <!--blogs end--> 
</div>