      <div class="sunnav">
        <ul>
          <li *ngFor="let cate of levelOneMenu" >
          	<a class="{{cate ==_currentCategory?'current':''}}" routerLink="/article_list/{{cate.cat_id}}" >
          		{{cate==_currentCategory?'>>':''}} {{cate.cat_name}}
          	</a>

	        <!-- submenu -->
	      	<ul class="second-menu" *ngIf="blogCategoryService.getSubMenuList(cate).length>0" >
	          <li *ngFor="let submenu of blogCategoryService.getSubMenuList(cate)">
	            <a class="{{submenu==_currentCategory?'current':''}}" routerLink="/article_list/{{submenu.cat_id}}">
	            	{{submenu==_currentCategory?'>>':''}} ·{{submenu.cat_name}}
	            </a>
	          </li>
	        </ul>

          </li>


        </ul>
      </div>